.background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background: linear-gradient(to right, #fd81d6, #80dfff); */
  display: flex;
  flex-grow: 1;
  z-index: -1;
  opacity: 0.35;
  animation-name: stretch;
  animation-duration: 2.5s; 
  animation-timing-function:ease-in-out; 
  animation-delay: 0;
  animation-direction:alternate-reverse;
  animation-iteration-count:infinite;
  animation-fill-mode: none;
  animation-play-state:running;
}
@keyframes stretch {
  0% {
    background-color: linear-gradient(to right, #fd81d6, #80dfff);
  }
  50% {
    background-color: #fd81d6;
  }
  100% {
    background-color: #80dfff;
  }
}